Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple
answer:-

In [1]:
# (i) 
s="amar"
type(s)

str

In [2]:
#(ii)
l=[1,3,4,'amar',True,2+5j,1.2,[1,3,4,5],{1:"amar",2:"pwskills"}]
type(l)

list

In [3]:
#(ii)
f=1.2 
type(f)

float

In [4]:
#(iv)
t=("amar",[1,2,3],4+2j,False,{"name":"amar"})
type(t)

tuple

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [5]:
#(i)
var1=''
type(var1)

str

In [6]:
#(ii)
var2 = '[ DS , ML , Python]'
type(var2)

str

In [7]:
#(iii
var3 = [ 'DS' ,'ML' , 'Python' ]
type(var3)

list

In [8]:
#(iv)
var4=1.
type(var4)

float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [9]:
'''(i)
 / = it is arithmatic operator , 
 by using this operater  we can division or dividing any number
 example '''
15/4

3.75

In [10]:
'''(ii)
 % = it is arithmatic operator an aslo called modulus operator , 
 its gives the remainder of any division of number
 example '''
23%10

3

In [11]:
'''(iii)
 // = it is arithmatic operator , 
 it is gives answer in Quotient (flor) of  dividing any number
 example '''
24//5

4

In [12]:
22//3

7

In [13]:
'''(iv)
 ** = it is arithmatic operator and aslo called exponetial operater , 
 by using this operater we can easily generate power of any number
 example '''
3**2

9

In [14]:
2**26

67108864

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [15]:
l=[1,1.2,True,2+8j,"amar",[1,2,3],(1,2,3),{1:"amar"},3,5]

In [16]:
len(l)

10

In [17]:
for i in l:
    print(type(i))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'int'>
<class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [19]:
A=int(input())
B=int(input())
while A>B:
    if A%B==0:
        print(A/B)
        print("A is purely divisible by B")
        break
    else:
        print("A is not purely divisible by number B")
        break

 15
 3

5.0
A is purely divisible by B

In [21]:
A=int(input())
B=int(input())
while A>B:
    if A%B==0:
        print(A/B)
        print("A is purely divisible by B")
        break
    else:
        print("A is not purely divisible by number B")
        break

 123
 2

A is not purely divisible by number B

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [29]:
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

In [33]:
for i in l:
    if i%3==0:
        print(i)
else:
    print("other element is not divsible by 3 in given list l")

3
6
9
12
15
18
21
24
other element is not divsible by 3 in given list l



Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [ ]:
''' Mutalbe data type means, In  the given data type we can change the value perticular indexing 
like list and dictionary 

imutable means ,In give dta type we can not change the value perticular indexing like string , integer, float, tuple
exaple is given below'''

In [36]:
s= "amar mandale" ##  string is imutable

In [37]:
s[1]="x"

TypeError: 'str' object does not support item assignment

In [38]:
l=[1,2,300,4] ## list is mutable

In [39]:
l[2]=3

In [40]:
l

[1, 2, 3, 4]